<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2015 - 2019</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Bachelor of Engineering</div>
            <h4 class="category">Aditya Engineering College</h4>
            <ul>
              <li>
                Aditya Engineering college in Surampalem.
              </li>
              <li>
                Completed B.E in Computer Engineering with <b>6.20 CGPA</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2013 - 2015</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">Narayana Junior College</h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science,
                mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and
                chemistry.
              </li>
              <li>Completed my high school with<b> 86%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2012 - 2013</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Vivekananda vidyaniketan</h4>
            <ul>
              <li>
                The Secondary aims at Maths , English , Science, Social Science,
                Literature and Languages.
              </li>

              <li>Completed my Secondary school with <b>84%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
